<Button IsSmall="true"
        IsOutLine="false"
        IsWidth100="false"
        BootstrapColor="BootstrapColor.Link"
        title="@(Resources.ButtonCaptions.Update)"
        OnCLick="args => OnCLick.InvokeAsync(args)"
        Class="m-0 p-0">
    <i class="bt bi-pen text-primary"></i>
</Button>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnCLick { get; set; }
}